<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" defer></script>
  <script src="../../portal.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body ng-app="app" ng-cloak>
  <div class="container" ng-controller="mainCtrl as $ctrl">
    <div class="main">
      <section class="intro">
        <h1 class="intro__title">Angular Portal</h1>
        <p class="intro__text">{{$ctrl.text}}</p>
        <button class="intro__btn" ng-click="$ctrl.isOpen = !$ctrl.isOpen">Open a Portal!</button>
      </section>
        
      <portal ng-if="$ctrl.isOpen">
        <div class="popup">  
          <div class="popup__overlay" ng-click="$ctrl.isOpen = false"></div>
          <div class="popup__content">
            <button class="popup__close" ng-click="$ctrl.isOpen = false"></button>
            <div>
              <section class="popup__wow">
                <p>
                  This portion of your component's view is now <br>
                  rendered at the bottom of the body
                </p>
                <p>And its scope is also available here!</p>
              </section>
              <textarea class="popup__input" ng-model="$ctrl.text"></textarea>
            </div>
          </div>
        </div>
      </portal>
    </div>
  </div>
</body>
</html>