[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  margin: 0;
  font-family: arial, sans-serif;
  background: hsl(60, 30%, 94%);
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  margin: 10px;
}
.main {
  flex: 2;
  font-size: 20px;
}

.side {
  position: relative;
  flex: 1;
  border: 2px solid #000;
}

.popup {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__overlay {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  animation: fade-in 0.5s;
  will-change: transform;
}

.popup__close {
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 0;
  background: gold;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: -10px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  outline: none;
  transition: transform 0.1s ease-in-out;
}

.popup__close:hover {
  transform: scale(1.2);
}

.popup__close:active {
  transform: scale(1.1);
}

.popup__close:before,
.popup__close:after {
  content: '';
  width: 60%;
  height: 4px;
  background: #FFF;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  width: 600px;
  /*height: 300px;*/
  padding: 20px;
  background: #fff;
  position: relative;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 2px;
  animation: scale-in 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), fade-in 0.3;
  will-change: transform;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.popup__wow {
  font-size: 20px;
  text-align: center;
}

.popup__input {
  width: 70%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.intro__title {
  font-size: 42px;
}

.intro__text {
  margin-bottom: 30px;
  margin-top: 0;
}

.intro__btn {
  font-size: 30px;
  border: none;
  padding: 20px;
  cursor: pointer;
  background: #00BCD4;
  color: #FFF;
  border-radius: 2px;
  outline: none;
  transition: transform 0.1s ease-in-out;
}

.intro__btn:active {
  transform: scale(0.95);
}