html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  margin: 0;
  font-family: arial, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  margin: 10px;
}
.main {
  flex: 2;
  font-size: 20px;
}

.side {
  position: relative;
  flex: 1;
  border: 2px solid #000;
}

.box {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.box__close {
  margin-right: auto;
}

.box__content {
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}